body{
    background-color: #333333ff;
    color: white;
}
button{
    background-color: grey;
    color: white; 
    font-family: sans-serif; 
}

button:hover{
    background-color:green;
}

input{
    background-color: grey;
    color: white; 
    font-family: sans-serif; 
}

h1{
    font-family: sans-serif; 

}